img {
 margin: auto;
}

.bodyContent {
  margin-top: 350px;
}

li {
  font-size: 30px;
}

.carousel-inner {
  margin-bottom: 50px;
  background-color: black;
  border: solid 50px black;
}

.item {
  text-align: center;
  background-position: center;
  display: inline-block;
  margin: auto;
}

.btn {
  width: 100%;
}

#hamburglar {
  width: 200px;
  height: 500px;
  position: absolute;
  // /* Standard syntax*/
  // animation-duration: 5s;
  animation: pulse 5s infinite;
  animation-name: slidein;
  z-index: -1;
}

       @keyframes slidein {
        0% {
             margin-left: 100%;

         }

       70% {
           margin-left: 20%;

       }

       80% {
         margin-left: 29%;
       }
     }

#carousel-example-generic {
  display: none;
}

h1 {
  text-align: center;
}
