img {
 margin: auto;
}

li {
  font-size: 30px;
}

.carousel-inner {
  margin-bottom: 50px;
  background-color: black;
  border: solid 50px black;
}

.item {
  text-align: center;
  background-position: center;
  display: inline-block;
  margin: auto;
}

.btn {
  width: 100%;
}

#hamburglar img {
  display: block;
  margin: auto;
}
